.inputContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  padding-right: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-disabled);
  outline-color: var(--border-disabled);
  cursor: text;
  min-width: 340px;
}

.inputContainerFocused {
  border-color: var(--border-primary);
}

.inputIconContainer {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: 1px solid transparent;
}

.inputIconContainer:hover {
  cursor: pointer;
  background-color: var(--bg-primary);
  color: var(--forground-primary-faded);
  border-color: var(--border-primary);
}

.input {
  padding: 10px 12px;
  min-width: 280px;
  font-weight: 400;
  font-size: 16px;
  color: var(--forground-secondary);
  outline: hidden;
  outline-width: 0;
  border: none;
  border-radius: 8px;
}
