.cards {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.cards > i {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}
