.table {
  width: 100%;
  min-height: 625px;
  border-collapse: collapse;
  overflow: auto;
  display: block;
}

.table > thead > tr > th {
  padding: 16px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
  text-align: left;
  cursor: pointer;
}

.table > thead > tr > th:hover > i {
  opacity: 0.8;
  visibility: visible;
}

.table > thead > tr > th > i {
  visibility: hidden;
  margin-left: 8px;
  transform: rotate(0deg);
}

.orderIconRotate {
  transform: rotate(180deg) !important;
}

.table > tbody > tr > td {
  padding: 16px;
  font-weight: 400;
  white-space: nowrap;
  border-top: 1px solid #e0e0e0;
  text-transform: capitalize;
}

.table > tbody > tr:nth-of-type(1) > td {
  border: none;
}

.table > tbody > tr:nth-child(even) {
  background-color: #fff;
}

.table > tbody > tr:nth-child(odd) {
  background-color: #0000000d;
}

.loader {
  height: 560px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
