.table {
  width: 100%;
  min-height: 625px;
  border-collapse: collapse;
  overflow: auto;
  display: block;
}

.table > thead > tr > th {
  padding: 16px;
  background-color: var(--bg-primary);
  color: var(--forground-primary);
  font-weight: 600;
  white-space: nowrap;
  text-align: left;
}

.hoverTableHead {
  cursor: pointer;
}

.hoverTableHead:hover > i {
  opacity: 0.8;
  visibility: visible;
}

.table > thead > tr > th > i {
  visibility: hidden;
  margin-left: 8px;
  transform: rotate(0deg);
}

.orderIconRotate {
  transform: rotate(180deg) !important;
}

.table > tbody > tr > td {
  padding: 16px;
  font-weight: 400;
  white-space: nowrap;
  border-top: 1px solid var(--border-disabled);
  text-transform: capitalize;
}

.table > tbody > tr:nth-of-type(1) > td {
  border: none;
}

.table > tbody > tr:nth-child(even) {
  background-color: var(--bg-base);
}

.table > tbody > tr:nth-child(odd) {
  background-color: var(--bg-primary-faded);
}

.loader {
  height: 560px;
  width: 100%;
}

.loader > * {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
